html, body {
    margin: 9px;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #432000;
    user-select: none;
    background-color: #bce8ff;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin:70px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #034e63;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    font-weight: 600;
}
input:focus{
    outline: 2px solid #0a97b4;
}
button {
    color: #FDFDFD;
    background-color: #0a97b4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;

}

button:hover {
    background-color: #247BA0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

ul li {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-weight: 590;
}

ul li:hover {
    background-color: #117ea2;
    color:aliceblue;
    cursor: pointer;
}